<!doctype html>
<title>Custom Terribleness: Underappreciated rights that YOUR dystopia can deny!</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
<div class=page>
<h1>Custom Terribleness</h1>
Tired of the same old dystopias? Randomized Dystopia suggests three rights that your fictional tyranny could deny its citizens!
<form id="customize" method="post" action="custom">
<p>Sexism? <input type="checkbox" name="sexist" {% if sexist %}checked="checked"{% endif %}/></p>
<p>Ageism? <input type="checkbox" name="ageist" {% if ageist %}checked="checked"{% endif %} /></p>
<p>Filter out the less plot-premise-friendly ones?
<br />Yes <input type="radio" name="boringfilter" value="True" {% if boringfilter %}checked="checked"{% endif %} />
<br />No <input type="radio" name="boringfilter" value="False" {% if not boringfilter %}checked="checked"{% endif %} /></p>
<p>
<input type='submit' value='Tyrannize!' />
</form>
<h2>Imagine a world without these rights:</h2>
{{rights|safe}}
<p>Want <a href="{{url_for("index_pg")}}">fewer options</a>?</p>
<i><a href="{{url_for("about_pg")}}">What is this?</a></i>
</div>
